# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
.venv/
.vscode


# Logs and temporary files
*.log
*.tmp
.DS_Store

# Project specific
README_1.md
future_impro.md
browser_test.py

